%clean-list-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

%horizontal-list-container {
  @extend %clean-list-container;
  display: inline-block;
}

%horizontal-list-item { display: inline-block; }

%clearfix {
  display: block;
  height: 0;
  clear: both;
  content: ' ';
  visibility: hidden;
}
