<!doctype html>
<html lang="nl">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Stageverslag</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/screen.css" />

        <!-- OpenGraph -->
        <meta property="article:author" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />

        <!-- Microdata -->
        <meta property="place:location:latitude" content="52.37104" />
        <meta property="place:location:longitude" content="6.75513" />

        <!-- Favicon -->
        <!-- Zie: http://realfavicongenerator.net/ -->

        <!-- Author -->
        <link type="text/plain" rel="author" href="http://domain/humans.txt" />
    </head>
    <body class="subpage">
      <include src="header.html"></include>
        <section class="bedrijfsintro">
          <div class="bedrijfsintro__bg intro__bg" style="background-image: url('../assets/img/header-alginfo.jpeg'); "></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="bedrijfsintro__text">
                  <h2><span>Think</span>, Amaze</h2>,<br /> <h2>Build, Improve</h2>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="company">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2>Algemene bedrijfsinformatie</h2>
                <p>Het bedrijf begon 15 jaar geleden als ITmundi, opgericht door Koen Nijhuis. Toen nog gevestigd in Albergen. Inmiddels heeft het bedrijf een imago wijziging ondergaan met een nieuwe naam en een andere visie. Het bedrijf heet nu Nerds & Company, de reden voor deze naam is dat de Nerds meer in het daglicht moeten worden gezet, zij zijn diegene die de beste producten opleveren. Nerds voorop en Company ondersteunend.

                  Nerds & Company heeft momenteel 3 eigenaren: Koen Nijhuis, Tim Klein Robbenhaar en Thijs Geerdink. Zij hebben met zijn drieën het bedrijf sterk laten groeien de afgelopen jaren. Zo was het bedrijf 2 jaar geleden nog met ongeveer 15 werknemers, inmiddels zitten ze tegen de 40 werknemers aan.
                  Niet alleen het aantal werknemers is sinds 2 jaar gegroeid, ook het klantenbestand is uitgebreid met grote namen als Asito, FC Twente, Vredestein en PON.

                  Nerds & Company staat ervoor om nauw samen te werken met de klant zodat zij een betere beleving hebben bij het product dat gemaakt wordt voor ze.

                  Vier pijlers binnen het bedrijf zijn: Think, Amaze, Build, Improve.
                  Deze pijlers weergeven de verschillende fases die een klant doorloopt wanneer het bedrijf een product maakt.
                </p>
              </div>
              <div class="col-xs-6">
                <p class="company__vision">
                  <b>Think:</b><br />
                  Interaction designers en strategen schetsen samen met de klant de lijnen voor het eindproduct. Dit zorgt voor een doordachte basis, cruciaal is dit want zonder een duidelijk vertrekpunt zullen nooit de gewenste resultaten worden behaald.
                </p>
              </div>
              <div class="col-xs-6">
                <p class="company__vision">
                  <b>Amaze: </b><br />
                   De Think-fase moet vorm en kleur krijgen. Aangezien iedere aanvraag uniek is moeten ook de designs van het product uniek zijn. Door middel van onze ervaren interface designers worden mindblowing designs gecreëerd die het verschil maken.
                </p>
              </div>
              <div class="col-xs-6">
                <p class="company__vision">
                  <b>Build: </b><br />
                   Kwaliteit, nieuwe tooling, innovatie en performance staan voorop bij het maken van een digitaal product met het twelve-factor app principle als leidend manifesto. Hierbij wordt de test-afdeling nauw betrokken om zo de kans op bugs minimaal te houden en de gebruikerservaring optimaal.
                </p>
              </div>
              <div class="col-xs-6">
                <p class="company__vision">
                  <b>Improve: </b><br />
                   Ondanks dat het doel het opleveren van een complete productie is, is er altijd ruimte voor verbetering. Hiervoor is Operationele Services bezig met het dagelijks verbeteren van het digitale landschap.
                </p>
              </div>
            </div>
          </div>
        </section>

        <section class='company__divider'>
          <div class="company__divider--image intro__bg" style="background-image: url('../assets/img/bedrijfsinfo-logo.jpg'); "></div>
          </div>
        </section>

        <section class="company">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="company__text">
                  <h2>Producten</h2>
                  <p>
                    Nerds & Company richt zich op de wat grotere bedrijven en zit daarom hoog in de prijzenmarkt.<br />
                    Het bedrijf levert vele services en doormiddel van de veelzijdigheid van de Nerds is het mogelijk om verschillende soorten producten te maken. Zo worden er applicaties, websites en platformen ontwikkelt voor klanten. <br />
                    De prijzen wordt als volgt berekend: Sales krijgt een aanvraag voor een product binnen. In overleg met de ontwerpers en developers worden er punten aan de moeilijkheid van onderdelen binnen het project gegeven. Elk team weet namelijk hoeveel punten zij kunnen verbranden binnen een week. Op basis hiervan schatten zij in hoelang zij nodig hebben om een opdracht uit te kunnen voeren. Sales rekent deze punten om en vermenigvuldigd met het uurtarief van €97 euro , zo wordt de prijs berekend. <br />
                    <br /><br />
                    Een product dat Nerds & Company recent heeft opgeleverd is de Vredenstein app. Hieronder staan een aantal afbeeldingen betreft dit product.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <img class="left"src="../assets/img/start.png"><img>
            </div>
            <div class="col-xs-12 col-sm-6">
              <img class="right" src="../assets/img/dashboard.png"><img>
            </div>
          </div>
        </section>

        <section class='company__divider'>
          <div class="company__divider--image intro__bg" style="background-image: url('../assets/img/bedrijf-info.jpg'); "></div>
          </div>
        </section>

        <section class="company">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2>Huidige situatie</h2>
                <p>
                  Nerds & Company zit per 1 februari in haar nieuwe kantoor te kennispark Enschede.<br />
                  Het bedrijf zit op de tweede verdieping in het pand aan het Capitool 15. Hier hebben zij een hele vleugel ter beschikking.<br />
                  In het kantoor is ruimte voor zeker 50 werknemers, voldoende mogelijkheid om in de toekomst nog verder te groeien mocht het nodig zijn. <br />
                  <br /><br />
                  Het kantoor beschikt over 3 vergaderruimtes, 1 stilteruimte en flexibele werkplekken. Hiernaast zijn er nog 6 eilanden waar de teams hun vaste plek hebben.  Studio, operationele services en het MT hebben hun eigen werkruimtes die zijn afgeschermd met glazenwanden. Dit ter voorkoming van het storen van de andere teams.
                  <br /><br />
                  Elke vergaderruimte beschikt over een presentatie scherm. De werknemers hebben allemaal hun eigen Macbook Pro en daarbij vaak een dell scherm zodat zij een beter overzicht hebben en hun werk beter uit kunnen voeren.
                </p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <h2>Klanten</h2>
                <p>
                  De klanten van Nerds & Company zijn heel divers. Er is niet een bepaalde sector waar het bedrijf zich op vestigt. Wel zit het bedrijf in de hogere prijsklasse waardoor de wat grotere en succesvolle bedrijven eerder klant zullen worden dan bedrijven die net beginnen.<br />
                  Zoals eerder aangegeven zijn een aantal grote klanten van Nerds & Company Asito, RMMBR,
                  FC Twente, RRS, Vredestein, PON en Lifehammer. <br />
                  <br /><br />
                  De klanten komen vaak binnen via Sales, de werknemers van sales hebben dan contact opgenomen met de klant, of andersom. Nadat er contact is opgenomen met de potentiële klant worden de behoeftes geïnventariseerd, dit gebeurd zodat de klant goed kan worden geholpen en daarbij ook een goed gevoel bij het bedrijf krijgt.
                  <br /><br />
                  Voor sommige klanten wordt een pitch voorbereid om zo het bedrijf te presenteren en het bedrijf te laten zien waarom ze moeten kiezen voor Nerds & Company.
              </p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h2>Plattegrond</h2>
              <img class="plattegrond" src="../assets/img/plattegrond.jpg"><img>
            </div>
          </div>
        </section>

        <section class="section section__blue organogram">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2>Organogram</h2>
                <p>
                  De organogram van Nerds & Company.<br />
                  Het bedrijf is verdeeld in Operationele Services, Studio, MT , Sales, Product owners, Testers en
                  3 teams. <br />
                  - Sales zorgt ervoor dat er nieuwe klanten binnenkomen en dat het netwerk van het bedrijf wordt uigebreid.<br />
                  - Bij Studio worden de producten bedacht en ontworpen.
                  <br /><br />
                  - De Product Owners houden contact met de klanten en zorgen dat er user stories worden   	aangemaakt voor de teams, zodat de teams hiermee aan de slag kunnen tijdens een sprint.
                  <br /><br />
                  - De teams zorgen voor de bouw van het product. Een team bestaat vaak uit back-end en front- end developers. Samen zorgen zij ervoor dat het de ontwerpen worden gerealiseerd.
                  <br /><br />
                  - Als het product klaar is komen de testers aan bod. Deze zijn gedurende het project ook al aanwezig om zo fouten te voorkomen, maar wanneer het product klaar is krijgen zij de ruimte om het product door en door te testen.
                  <br /><br />
                  - Operationele Services zorgt ervoor dat nadat het product is opgeleverd er support kan worden geleverd en eventueel wijzigingen kunnen worden doorgevoerd aan de hand van feedback.
                  <br /><br />
                  - MT zorgt voor het personeel en dat alles binnen het bedrijf op orde is. Naast dit zijn de directie leden vaak ook betrokken bij het sales proces.
                </p>
              </div>
              <div class="col-xs-12">
                <div class="organogram__image">
                  <img src="../assets/img/organogram.png"> <img>
                </div>
            </div>
          </div>
        </section>

        <section class="section">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2>Contactpersoon</h2>
                <p>
                  Tijdens mijn stage heb ik meerdere stagebegeleiders gehad vanwege verschillende werkzaamheden. Gedurende eerste twee maanden terwijl ik bij Support meeliep was mijn stagebegeleidster Anneke Sinnema. Met haar stond ik in direct contact en overlegde ik over de werkzaamheden die ik had gedaan of zou kunnen oppakken.
                  <br /><br />
                  Na de twee maanden kreeg ik een project toegewezen samen met 2 andere stagiaires. Tijdens deze periode had ik eerst Ronald van Rossum als stagebegeleider en contactpersoon. Helaas was dit niet van lange duur doordat er vanuit het bestuur beslissingen werden gemaakt waardoor dit niet mogelijk was. Ik kreeg toen Remco Hendriksen als mijn stagebegeleider en tevens mijn contactpersoon. Remco heeft mij voor het grootste gedeelte van mijn stageperiode begeleid. Remco gaf mij feedback op gemaakt werk en bij hem kon ik terecht wanneer ik er even niet uit kwam.
                  <br /><br />
                  Helaas ging Remco ongeveer een maand voordat mijn stage was afgelopen weg naar een ander bedrijf en kreeg ik weer een nieuwe stagebegeleider toegewezen, voor de laatste maand is dit Ronald van Rossum geweest.
                  <br /><br />
                  Ronald kwam vaak langs om te vragen hoe het er voor stond met het project en wat ik ervan vond. Dit was erg prettig omdat ik zo ook meteen een korte reflectie gaf op mijn eigen gemaakte werk. Al mijn vorige stagebegeleiders hebben de voortgang van mij doorgegeven aan Ronald en hij zal ook de eindbeoordeling doen.
                </p>
              </div>
            </div>
          </div>
        </section>

      <include src="footer.html"></include>
  </body>
</html>
