<!doctype html>
<html lang="nl">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Stageverslag</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/screen.css" />

        <!-- OpenGraph -->
        <meta property="article:author" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />

        <!-- Microdata -->
        <meta property="place:location:latitude" content="52.37104" />
        <meta property="place:location:longitude" content="6.75513" />

        <!-- Favicon -->
        <!-- Zie: http://realfavicongenerator.net/ -->

        <!-- Author -->
        <link type="text/plain" rel="author" href="http://domain/humans.txt" />
    </head>
    <body class="subpage">
      <include src="header.html"></include>
        <section class="conclusie">
          <div class="conclusie__bg intro__bg" style="background-image: url('../assets/img/conclusie.jpeg'); "></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="bedrijfsintro__text">
                  <h2>Conclusie</h2>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2>Conclusie</h2>
                <p>
                  De afgelopen 5 maanden heb ik veel kennis opgedaan over verschillende programmeertalen, technieken om een project tot een succes te leiden en kwaliteitstandaarden. <br />
                  De hoofddoelen die ik voor mijzelf had gesteld: mijn code kwaliteit verbeteren en meer leren over Javascript en frameworks als AngularJS, heb ik naar mijn mening zeker behaald.<br />
                  Zelf merk ik sterke vooruitgang met bijvoorbeeld het opbouwen van een project qua structuur, het schrijven van herbruikbare code, het begrijpen en basis coderen van javscript en de basis van AngularJS en Ionic.
                  <br /><br />
                  Toen ik hier in het begin kwam raakte ik net gewend aan Sass en had ik nog weinig verstand van de functionaliteiten van Javascript. <br />
                  Nu ik hier 5 maanden heb gezeten merk ik dat ik betere code schrijf doormiddel van het gebruik van linters, om kan gaan met versiebeheer programma’s als github, veel dingen over veiligheid van websites heb bijgeleerd en het gebruiken van de scrum methode tijdens het werken in teams.<br />
                  Ik ben erg blij met de progressie die ik heb gemaakt en wil deze lijn dan ook door te zetten.
                  <br /><br />
                  Ik heb veel geleerd tijdens mijn stageperiode en dankzij Nerds & Company heb ik een goede kijk kunnen nemen in de wereld van een succesvol webbedrijf dat zich richt op de grotere klanten.
                </p>
              </div>
              <div class="col-xs-12">
                <h2>Slotwoord</h2>
                <p>
                  Allereerst wil ik mijn stagebegeleiders Ronald van Rossum, Anneke Sinnema en Remco Hendriksen bedanken voor de begeleiding, daarnaast wil ik het bedrijf Nerds & Company bedanken voor de mogelijkheid om hier stage te lopen.
                </p>
              </div>
            </div>
          </div>
        </section>


      <include src="footer.html"></include>
  </body>
</html>
