<header class="l-main-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo">
            <h2>Tim Ruiterkamp</h2>
        </div>
        <button class="button button__nav l-nav-placeholder">
          <div class="l-nav-placeholder__stripe"></div>
          <div class="l-nav-placeholder__text"><p>Menu</p></div>
          <div class="l-nav-placeholder__stripe"></div>
        </button>
        <nav class="l-primary-nav">
          <div class="l-primary-nav__cross">
            <div class="l-primary-nav--stripe"></div>
            <div class="l-primary-nav--stripe"></div>
            <div class="l-primary-nav--stripe"></div>
          </div>
            <ul>
                <li class="menu__item"><a href="index.html">Home</a></li>
                <li class="menu__item"><a href="leerdoelen.html">Leerdoelen</a></li>
                <li class="menu__item"><a href="bedrijfsinfo.html">Algemene bedrijfsinformatie</a></li>
                <li class="menu__item"><a href="specific.html">Specifieke bedrijfsinformatie</a></li>
                <li class="menu__item"><a href="bpv-sup.html">BPV taak 1</a></li>
                <li class="menu__item"><a href="bpv-foj.html">BPV taak 2</a></li>
                <li class="menu__item"><a href="conclue.html">Conclusie</a></li>
            </ul>
            <div class="l-primary-nav__social">
              <ul>
                <li><a href="#"><div class="icon__fb"></div></a></li>
                <li><a href="#"><div class="icon__google"></div></a></li>
                <li><a href="#"><div class="icon__linkedin"></div></a></li>
                <li><a href="#"><div class="icon__mail"></div></a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
</header>
