<header class="l-main-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="h-text-left">
            Tim Ruiterkamp
        </div>
        <button class="button button__nav l-nav-placeholder">
          <div class="l-nav-placeholder__stripe"></div>
          <div class="l-nav-placeholder__text"><p>Menu</p></div>
          <div class="l-nav-placeholder__stripe"></div>
        </button>
        <nav class="l-primary-nav">
          <div class="l-primary-nav__cross">
            <div class="l-primary-nav--stripe"></div>
            <div class="l-primary-nav--stripe"></div>
            <div class="l-primary-nav--stripe"></div>
          </div>
            <ul>
                <li><a href="http://stage.timruiterkamp.nl/">Home</a></li>
                <li><a href="#">Leerdoelen</a></li>
                <li><a href="#">Algemene bedrijfsinformatie</a></li>
                <li><a href="#">Specifieke bedrijfsinformatie</a></li>
                <li><a href="#">BPV taken</a></li>
                <li><a href="#">Conclusie</a></li>
            </ul>
            <div class="l-primary-nav__social">
              <ul>
                <li><a href="#"><div class="icon__fb"></div></a></li>
                <li><a href="#"><div class="icon__google"></div></a></li>
                <li><a href="#"><div class="icon__linkedin"></div></a></li>
                <li><a href="#"><div class="icon__mail"></div></a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
</header>
