<!doctype html>
<html lang="nl">
    <head>

        <!--
            ***********************************
            ******    Development by:    ******
            ***********************************
            **   Nerds & Company             **
            **                               **
            **   T  0546-535000              **
            **   E  info@nerds.company       **
            **   W  www.nerds.company        **
            ***********************************
            ***********************************
        -->

        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/screen.css" />

        <!-- OpenGraph -->
        <meta property="article:author" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />

        <!-- Microdata -->
        <meta property="place:location:latitude" content="52.37104" />
        <meta property="place:location:longitude" content="6.75513" />

        <!-- Favicon -->
        <!-- Zie: http://realfavicongenerator.net/ -->

        <!-- Author -->
        <link type="text/plain" rel="author" href="http://domain/humans.txt" />

    </head>
    <body>

        <header class="l-main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="h-text-center">
                            Header tekst
                        </div>
                        <nav class="l-main-nav">
                            <ul>
                                <li><a href="#">Item 1</a></li>
                                <li><a href="#">Item 2</a></li>
                                <li><a href="#">Item 3</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 context--content">
                        <h1>Main content</h1>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius similique odit delectus, assumenda ipsum quo libero, sit laborum fugit. Nisi veniam rem voluptas, officiis unde esse voluptatum tempora harum voluptatem!</p>
                    </div>
                </div>
            </div>
        </main>

        <footer class="l-main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="h-text-center">
                            Footer tekst
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <p class="h-text-assertive h-text-huge">Test 123</p>

        <!-- JavaScript -->
        <script src="/js/app.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
