<!doctype html>
<html lang="nl">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Stageverslag</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/screen.css" />

        <!-- OpenGraph -->
        <meta property="article:author" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />

        <!-- Microdata -->
        <meta property="place:location:latitude" content="52.37104" />
        <meta property="place:location:longitude" content="6.75513" />

        <!-- Favicon -->
        <!-- Zie: http://realfavicongenerator.net/ -->

        <!-- Author -->
        <link type="text/plain" rel="author" href="http://domain/humans.txt" />
    </head>
    <body>
      <include src="header.html"></include>

        <section class="intro">
          <div class="intro__bg" style="background-image: url('../assets/img/intro.jpeg'); "></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                      <div class="intro__text">
                        <h1 class="h-text-center">Interactief stageverslag</h1>
                        <h2 class="h-text-center">Tim Ruiterkamp</h2>
                      </div>
                      <div class="intro__scroll">
                        <div class="arrow__down"></div>
                      </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="introduction" id="introduction">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                  <h2>introductie</h2>
              </div>
              <div class="col-sm-9 col-xs-12">
                <p>In het laatste jaar van mijn opleiding mediavormgeving te ROC van Twente Enschede, heb ik de mogelijkheid gekregen om mijzelf verder te ontwikkelen doormiddel van een stageplek te zoeken. Deze stage is mijn afstudeerstage en zal dan ook belangrijk zijn bij  het halen van mijn diploma.
                  Wat belangrijk voor mij was toen ik opzoek ben gegaan naar een stageplek, was dat ik mij zelf verder kon ontwikkelen als front-end developer. Dit was mijn hoofddoel tijdens het zoeken. Van de vorige zoektocht naar een geschikte stageplek afgelopen jaar is mij b gebleven dat het bedrijf Nerds & Company (voorheen Itmundi) een erg goed bedr f is om jezelf verder te ontwikkelen, naast dat z  kwaliteit erg hoog hebben staan is het een bedr f met een sterke groei op zowel klantengebied als op werknemersgebied. Een geschikte plek om een betere front-end developer te worden leek m .
                  Hiernaast heb ik veel positieve verhalen gehoord van andere stagiaires die bij dit bedrijf stage hebben gelopen en dat resulteerde in een sterkte motivatie om een stage plek binnen dit bedr f te bemachtigen.
                  Via een mede-student ben ik in contact gekomen met het bedr f. Ik kreeg te horen dat ik een klein stukje moest schr ven over wat voor stage ik wilde lopen, wat voor activiteiten ik wilde gaan doen en om welke periode dit ging.
                  Ik ben toen ik dit te horen kreeg ook meteen in actie gekomen om dit rond te kr gen. Ongeveer 5 dagen later kreeg ik te horen dat er een plek was voor m  en dat ik langs mocht komen voor een gesprek.
                  Voordat het gesprek zou plaats vinden moest ik een aantal onderwerpen voorbereiden zodat het bedr f een goed beeld kreeg van m , namel k: M n huidige niveau van code, aan te tonen doormiddel van m n laatst geschreven code te laten zien. Wat ik wil gaan leren t dens m n stage periode en hoe ik dit ging aanpakken.
                  Een week nadat het gesprek heeft plaats gevonden kreeg ik te horen van het bedr f dat ik in februari kon beginnen met stage lopen.
                  Nadat ik akkoord had gekregen om stage te lopen b  het bedr f moest alleen nog het stagecontract worden doorgenomen om zo alles rond te maken.
                  Dit was het begin van m n stageperiode.
                </p>
              </div>
              <div class="col-sm-3 col-xs-12">
                <img src="../assets/img/spec-info.png"></img>
              </div>
            </div>
          </div>
        </section>

        <section class="cases">
          <div class="cases__bg" style="background-image: url('../assets/img/nerds.jpg'); "></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                  <h2>MEER INFORMATIE OVER MIJN STAGE</h2>
              </div>
              <div class="col-md-4 col-xs-6">
                <a href="leerdoelen.html">
                  <div class="cases__placeholder">
                    <div class="cases__image" style="background-image: url('../assets/img/js.png');">
                    </div>
                    <div class="cases__placeholder--text">
                      <h2>Leerdoelen</h2>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4 col-xs-6">
                <a href="bedrijfsinformatie.html">
                  <div class="cases__placeholder">
                    <div class="cases__image" style="background-image: url('../assets/img/bedrijf-info.png');">
                    </div>
                    <div class="cases__placeholder--text">
                      <h2>Algemene bedrijfsinformatie</h2>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4 col-xs-6">
                <a href="specifiekeinformatie.html">
                  <div class="cases__placeholder">
                    <div class="cases__image" style="background-image: url('../assets/img/spec-info.png');">
                    </div>
                    <div class="cases__placeholder--text">
                      <h2>Specifieke bedrijfsinformatie</h2>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="row h-margin-top-medium">
              <div class="col-md-4 col-xs-6">
                <a href="bpv.html">
                  <div class="cases__placeholder">
                    <div class="cases__image" style="background-image: url('../assets/img/bpv1.png');">
                    </div>
                    <div class="cases__placeholder--text">
                      <h2>Bpv taak 1</h2>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4 col-xs-6">
                <a href="bpv-foj.html">
                  <div class="cases__placeholder">
                    <div class="cases__image" style="background-image: url('../assets/img/bpv2.png');">
                    </div>
                    <div class="cases__placeholder--text">
                      <h2>Bpv taak 2</h2>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4 col-xs-6">
                <a href="conclusie.html">
                  <div class="cases__placeholder">
                    <div class="cases__image" style="background-image: url('../assets/img/conclusie.png');">
                    </div>
                    <div class="cases__placeholder--text">
                      <h2>Conclusie</h2>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>

        <include src="footer.html"></include>

        <!-- JavaScript -->
        <script src="/js/app.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
