<!doctype html>
<html lang="nl">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Stageverslag</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/screen.css" />

        <!-- OpenGraph -->
        <meta property="article:author" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />

        <!-- Microdata -->
        <meta property="place:location:latitude" content="52.37104" />
        <meta property="place:location:longitude" content="6.75513" />

        <!-- Favicon -->
        <!-- Zie: http://realfavicongenerator.net/ -->

        <!-- Author -->
        <link type="text/plain" rel="author" href="http://domain/humans.txt" />
    </head>
    <body class="subpage">
      <include src="header.html"></include>
        <section class="learn">
          <div class="learn__bg intro__bg" style="background-image: url('../assets/img/header-leerdoel.jpeg'); "></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="learn__text">
                  <h2 class="h-text-center">Leerdoelen</h2>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="task">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2>Leerdoelen</h2>
                <p>Vanuit school is de opdracht meegegeven om doelen voor jezelf te stellen. Dit is omdat je zo ergens naar toe kunt werken en ook kunt controleren of je het hebt gehaald of niet.
                Voor de stage had ik zoals eerder aangegeven een doel om een betere front-end developer te worden, dit is ook de richting waar ik in wil gaan en later m n beroep van wil maken. Een betere front-end developer worden is alleen een erg breed begrip dus m n doelen heb ik kleiner gemaakt voor m n leerdoelen.

                Uiteindel k ben ik tot de conclusie gekomen dat ik m vooral verder wil ontwikkelen op het gebied van Javascript, Javascript frameworks als angularjs en code kwaliteit. Voor m n gevoel is hier nog een hele stap te zetten voor m .
                </p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <h2>Leerdoel 1</h2>
                <p>Als eerste leerdoel heb ik gesteld dat ik binnen een periode van 2 maand m n code kwaliteit wil verbeteren. Deze code moet goed z n opgebouwd, herbruikbaar z n en worden opgeslagen doormiddel van versie controle. Ik vind het belangr k dat m n code goed wordt opgebouwd en herbruikbaar is om zo b overdrachten niet een andere developer hoef uit te leggen waar alles staat., ook voorkom je hiermee dat code snel kapot zal gaan.
                Om dit leerdoel te halen heb ik m verdiept in BEM, SMACSS, Linters, Git en de front-end repository van het bedr f zelf. Doormiddel van de front-end repository te gebruiken leerde ik snel hoe ik m n code kon opbouwen zodat het voor iedereen te benaderen en te begr pen is. Hiernaast heb ik veel onderzoek gedaan in de eerste maand naar BEM, SMACSS en de front- end repository. Door dit toe te passen op test projecten kwam ik er snel achter dat het erg handig is en je op een snellere en betere manier je code kunt schr ven en opbouwen.
                Nadat ik m verdiept had in deze manier van werken ging ik aan de slag met linters en versiebeheer. Hierdoor had ik een betere grip op m n werk en kwam ik er al snel achter dat ik fouten maakte b het schr ven van m n code. Doormiddel van de linters verbeterde ik al snel fouten die ik vaak maakte omdat ik telkens een error kreeg en deze moest oplossen/verbeteren.
                Met het gebruik maken van versiebeheer ging er voor m toch weer een wereld open. Ik kende Git al voordat ik stage ging lopen en heb er een aantal keer naar gekeken, maar nu leerde ik er echt mee werken en te begr pen. In deze maand en zeker ook de maanden die hierop volgde heb ik met hulp van collega’s m n weg gevonden naar het goed omgaan met versiebeheer.
                </p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <h2>Leerdoel 1 reflectie</h2>
                <p>In het begin toen ik onderzoek ging doen naar BEM, SMACSS en de front-end repository had ik het even moeil k met opgang komen en te weten waar ik precies moest zoeken. Nadat ik wat meer uitleg vroeg b collega’s kreeg ik het snel door en leerde ik de gemakken kennen van het werken met deze methodes. Ik ben bl dat ik onderzoek heb gedaan en heb leren om te gaan met zowel de manieren van het opbouwen en schr ven, als met het leren gebruik te maken van versiebeheer.
                Al deze nieuwe methodes hebben ervoor gezorgd dat ik zelf merk dat m n code makkel ker te lezen is en ook gemakell ker in te zetten is b andere projecten. Gedurende m n stageperiode heb ik zelf ook gemerkt dat wanneer ik b voorbeeld m n code liet controleren b een begeleider het er vaak wel goed uitzag. Hooguit een paar puntjes die op een andere manier netter zou kunnen worden opgelost.
                Met de kennis die ik nu heb over de verschillende manieren van code schr ven, opbouwen en beheren kan ik stellen dat ik m n leerdoel heb gehaald.
                </p>
              </div>
            </div>
          </div>
        </section>
      <include src="footer.html"></include>

      <!-- JavaScript -->
      <script src="/js/app.js"></script>

      <!-- Google Analytics -->
      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='https://www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
  </body>
</html>
