<!doctype html>
<html lang="nl">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Stageverslag</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/screen.css" />

        <!-- OpenGraph -->
        <meta property="article:author" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />

        <!-- Microdata -->
        <meta property="place:location:latitude" content="52.37104" />
        <meta property="place:location:longitude" content="6.75513" />

        <!-- Favicon -->
        <!-- Zie: http://realfavicongenerator.net/ -->

        <!-- Author -->
        <link type="text/plain" rel="author" href="http://domain/humans.txt" />
    </head>
    <body class="subpage">
      <include src="header.html"></include>
        <section class="bedrijfsintro">
          <div class="bedrijfsintro__bg intro__bg" style="background-image: url('../assets/img/specific.jpeg'); "></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="bedrijfsintro__text">
                  <h2>Specifieke bedrijfsinformatie</h2>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="specific">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2>Kwaliteitscontrole</h2>
                <p>Nerds & Company is een bedrijf dat kwaliteit aflevert en af wil leveren. Hiervoor zijn dan ook de nodige controles tijdens het opbouwen van een project. <br />
                  Een project heeft altijd een test, acceptatie en productie omgeving om er zo zeker van te zijn dat er geen foute code wordt doorgevoerd in de live website of applicatie. <br />
                  Wanneer een developer een stuk code schrijft worden hierbij de linters gebruikt met de instellingen van het bedrijf, deze instellingen staan in een globale editorconfig. Hiermee zorgen ze ervoor dat alle code wordt geschreven volgens dezelfde richtlijnen en kunnen zij er zo zeker van zijn dat de opbouw van de code goed is. Nadat je de code klaar hebt moet er een pull request worden ingediend bij Github. Een pull request betekent dat er code klaar staat om te worden nagekeken, dit wordt vaak door een andere developer uit het team gedaan.
                  <br /><br />
                  Na deze controle door een andere developer, mits de code is goedgekeurd, is het mogelijk om de code te mergen met de desbetreffende omgeving. Voordat je een merge kan doen checkt een externe dependenice genaamd “Hound” of er geen linter errors meer in het bestand zitten, mocht dit wel zo zijn dan zal de persoon in kwestie een email krijgen met daarin de foute code en instructies hoe dit kan worden verbeterd. Wanneer dit goed is gekeurd is het mogelijk om de merge uit te voeren.
                  <br /><br />
                  Bovenop deze controles houdt de CTO ook de code kwaliteit van alle developers in de gaten en geeft hij aan wat er beter kan of wanneer het slechte code is.
                </p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p class="specific__info">
                  <b>Opleidingsplan</b><br />
                    Om vanuit je studie door te groeien naar een vaste developer bij een bedrijf, dan zit je bij Nerds & Company goed. <br />
                    Het komt vaker voor dat stagiaires na hun stage een baan aangeboden krijgen wanneer zij voldoende potentie en inzet hebben laten zien in hun vak. Nerds & Company wil graag de beste developers in huis hebben, dat is ook een reden de stagiaires de kans krijgen om zich te bewijzen binnen het bedrijf.
                    <br /><br />
                    Het bedrijf heeft veel medewerkers waarvan je veel kunt leren en die ook open staan om kennis over te dragen aan jou, dit zorgt ervoor dat je binnen het bedrijf ontzettend veel van andere kunt leren en het ook een goede manier is om een betere developer te worden.
                    <br /><br />
                    Gedurende de week is het mogelijk om zelf meer tijd te investeren in nieuwe technieken, dit heten hacksessies. Mede door deze uren die je mag besteden aan zelfontwikkeling en onderzoek is het mogelijk dat de werknemers op de hoogte blijven van de laatste technieken. Naast de kennis die ze op doen is het ook interessant voor het bedrijf, uit de hacksessies komen vaak nieuwe mogelijkheden die gebruikt kunnen worden voor commerciele doeleinden.
                </p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p class="specific__info2">
                  <b>Regels</b><br />
                  Binnen Nerds & Company is planning belangrijk, zo is het noodzakelijk dat wanneer je een ruimte nodig hebt je dit in de agenda neerzet. Zo voorkom je onduidelijkheid en eventuele vervelende situaties.
                  <br /><br />
                  Om een goede uitstraling te geven en daarbij te denken aan de veiligheid zijn de kabels van de computers en overige apparaten weggestopt in de onderkant van de tafel. Dit voorkomt dat er snoeren op de grond liggen en dat iemand per ongeluk stekkers eruit trekt of achter blijft haken.
                  <br /><br />
                  De eerste die binnenkomt moet alle deuren binnen het kantoor openen en de laatste die weggaat moet alles weer afsluiten.
                  <br /><br />
                  Betreft code is het belangrijk dat iedereen producten opleverd met dezelfde kwaliteitstandaarden. Hiermee zorgt het bedrijf ervoor dat de kwaliteit van de producten hoog blijft.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <p class="specific__info">
                  <b>Ergonomische maatregelen</b><br />
                   Nerds & Company heeft voor iedere werknemer een bureau en een bureaustoel die in hoogte verstelbaar is. Hierdoor kan elke werknemer zijn/haar werkomgeving aanpassen naar eigen wens. Ook is het gemakkelijk om tijdelijk een andere werkhouding aan te nemen doordat er door het bedrijf heen verschillende flexwerkplekken zijn.
                </p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p class="specific__info2">
                  <b>Archivering</b><br />
                  Alle bestanden die worden gemaakt en van belang zijn voor collega’s worden opgeslagen in google drive. Dit is een vaste plek voor documenten en voor alle collega’s toegangbaar.
                  <br /><br />
                  Alle code wordt opgeslagen in Github of bitbucket. Hiermee zorgen wij ervoor dat er zowel backups van de code zijn en er geen code verloren zal gaan bij bijvoorbeeld het crashen van je computer.
                </p>
              </div>

            </div>
          </div>
        </section>

        <section class="company__divider">
          <div class="company__divider--image intro__bg" style="background-image: url('../assets/img/bedrijfsinfo-logo.jpg'); "></div>
        </section>

        <section class="section programs">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="company__text">
                  <h2>Soft- en hardware</h2>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="software--image software__left">
                      <img class="img-responsive" src="../assets/img/macbookpro.png"><img>
                      <caption>
                        <h2>Macbook pro 15”</h2>
                        <ul>
                          <li>Intel core i7</li>
                          <li>16 GB Ram 1600MHz DDR3</li>
                          <li>Nvidia geforce gt 750m</li>
                          <li>500 GB SSD</li>
                        </ul>
                      </caption>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="software--image software__center">
                      <img class="img-responsive" src="../assets/img/dell.jpg"><img>
                      <caption>
                        <h2>DELL ULTRASHARP U2515H</h2>
                        <ul>
                          <li>2560 x 1440 pixels</li>
                        </ul>
                      </caption>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="software--image software__right">
                      <img class="img-responsive" src="../assets/img/printer.jpg"><img>
                      <caption>
                        <h2>HP laserjet 500 color mfp m570dw</h2>
                        <p>Deze printer wordt gebruikt door alle medewerkers wanneer er bestanden moeten worden uitgeprint voor bijvoorbeeld presentaties of design sprints</p>
                      </caption>
                    </div>
                </div>
              </div>
              <div class="row programs__trigger">
                <div class="col-xs-12">
                  <div class="company__text margin-top-large">
                    <h2>Programma's</h2>
                  </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="programs--image">
                      <img class="img-responsive" src="../assets/img/github.png"><img>
                      <caption>
                        <h2 class="h-text-center">GitHub</h2>
                      </caption>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="programs--image">
                      <img class="img-responsive" src="../assets/img/atom.jpg"><img>
                      <caption>
                        <h2 class="h-text-center">Atom</h2>
                      </caption>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="programs--image">
                      <img class="img-responsive" src="../assets/img/sourcetree.png"><img>
                      <caption>
                        <h2 class="h-text-center">SourceTree</h2>
                      </caption>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="programs--image">
                      <img class="img-responsive" src="../assets/img/sketch3.png"><img>
                      <caption>
                        <h2 class="h-text-center">Sketch3</h2>
                      </caption>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="programs--image">
                      <img class="img-responsive" src="../assets/img/photoshop.png"><img>
                      <caption>
                        <h2 class="h-text-center">Photoshop</h2>
                      </caption>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="programs--image">
                      <img class="img-responsive" src="../assets/img/bootcamp.png"><img>
                      <caption>
                        <h2 class="h-text-center">Bootcamp</h2>
                      </caption>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="programs--image">
                      <img class="img-responsive" src="../assets/img/jira.png"><img>
                      <caption>
                        <h2 class="h-text-center">Jira</h2>
                      </caption>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="programs--image">
                      <img class="img-responsive" src="../assets/img/googledrive.png"><img>
                      <caption>
                        <h2 class="h-text-center">Google Drive</h2>
                      </caption>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section__blue ontwikkeling">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="company__text margin-top-large">
                <h2>Ontwikkeling</h2>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p>
                Binnen Nerds & Company bevindt zich een lang proces aan stappen die worden gemaakt tijdens het ontwikkelen van een product.<br />
                Het begint allemaal bij sales, hier worden offertes aangevraagd maar ook bedrijven benaderd om hun media uiting te verbeteren. Zodra dit contact er is en er is wederzijdse interesse vind er een inventarisatie sprint plaats. Hierin worden alle partijen betrokken zodat zij een duidelijke inventarisatie kunnen maken. Aan de hand van deze inventarisatie wordt een schatting gemaakt. Deze schatting zorgt ervoor dat sales een uiteindelijke offerte kan uitbrengen naar de klant.
                <br /><br />
                Wanneer de offerte akkoord is, is het de taak aan studio om een concept te bedenken en dit uit te werken tot presentatie ontwerpen. Gedurende dit proces kijken User experience designers en user interaction designers mee zodat het concept goed wordt uitgedacht en hij geschikt is voor de eindgebruiker. <br />
                Eventueel kan de fase van studio ook worden gedaan tijdens een design sprint. Hierin komen de verscshillende designers samen in een apparte ruimte en gaan zij samen met de klant brainstormen over het te maken product.
                <br /><br />
                Tijdens dit proces is het ook de taak aan de Product Owners om user stories te schrijven. User stories vertellen wat een eindgebruiker wil, dit wordt dan weer gebruikt tijdens de planning.
                <br /><br />
                Wanneer de ontwerpen zo ver zijn dat er een begin kan worden gemaakt aan de realisatie is het de taak aan de Product Owner en het team om een sprintplanning te houden. Tijdens de sprintplanning krijgt ieder deelnemend lid een pak kaarten met daarop een aantal punten. Deze punten representeren de moeilijkheidsgraad en dus ook de duur om de user story te realiseren. Ieder lid geeft zijn inschatting weer doormiddel van een kaart met de punten er op neer te leggen. Uiteindelijk worden er bij een aantal inschattingen gevraagd om een argument en op basis hiervan wordt het aantal punten ingeschat.
                <br /><br />
                Zodra de sprintplanning klaar is kan het team kijken in Jira hoe de planning eruit ziet en wat er allemaal moet worden gedaan. Nu is het dan ook de taak aan het team om de user stories op te pakken en er mee aan de slag te gaan. Het eerste wat doorgaans gebeurd is een repository aanmaken op github en daarop de basis van het project installeren. Hiermee is het project voor het hele team te bereiken en is versiecontrole mogelijk.
                <br /><br />
                Elke user story die af is gerond moet worden getest op linter errors en op eventueel foute code opbouw of code die eventueel beter zou kunnen worden geschreven. Wanneer dit goed is gekeurd door zowel de extra controle in github als een collega mag het worden gemerged met de test omgeving. Door deze controle wordt ervoor gezorgd dat de test omgeving altijd werkt en het als back-up kan worden gebruikt, voor het geval iets misgaat met de aanpassingen of toevoegingen. <br />
              </p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p>
                Sprints zijn vaak een week of 2, Hierna komt het team bij elkaar met eventueel de klant om een demo te geven van het gemaakte werk. Tijdens de demo met de klant is het mogelijk voor de klant om feedback te geven op het product, hierdoor is het mogelijk om vroeg in het proces al feedback te verwerken. Op deze manier houden ze grip op het proces. <br />
                Nadat de demo is geweest wordt er binnen het team een reflectie gegeven op het gemaakte werk en het proces. Iedereen in het team schrijft op wat er wel of niet goed is gegaan en hangt dit aan de muur. De scrum master behandelt alle goede en slechte punten en bepaalt aan de hand van de punten de acties die moeten worden ondernomen, zo is het mogelijk om het de volgende sprint te verbeteren of fouten voorkomen.
                <br /><br />
                In de tijd van het opzetten van het project en de sprints is studio nog steeds druk bezig met het doorontwikkelen van het product. Dit zorgt er tevens voor dat studio en de teams een betere samenwerking krijgen. Zo hoeven ze niet op elkaar te wachten maar werken ze samen verder aan het product.
                <br /><br />
                Elke dag word op een standaard tijdstip een stand-up gehouden, dit is zodat teamleden het team kunnen informeren waar zij mee bezig zijn geweest de dag ervoor en wat zij vandaag gaan oppakken. Ook wordt hier aangegeven of er tegen problemen wordt aangelopen, mocht dit zo zijn dan is het gehele team ervan op de hoogte en kan er direct een oplossing worden gezocht.
                <br /><br />
                Wanneer het product staat en klaar is om te gebruiken zal er een demo plaatsvinden met de klant. Hierin wordt het product besproken en de functionaliteit doorgenomen. <br />
                Eventuele feedback op het product kan de klant nu nog aangeven. Dit wordt dan doorgevoerd en getoond aan de klant. Zo kan er geen miscommunicatie ontstaan doordat je de klant nauw betrekt.
                <br /><br />
                Nadat alles afgerond is en de klant tevreden is wordt het tijd om alles te deployen naar een live server. Hiervoor past een developer de nodige gegevens aan en doorloopt de stappen die nodig zijn om de website live te zetten.
                <br /><br />
                Nu de website live staat is het de taak aan Operationele Services om de doorontwikkeling van het project te begeleiden en latere feedback van de klant door te voeren naar het gemaakte product.
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="section ontwikkeling">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="company__text margin-top-large">
                <h2>Werkzaamheden</h2>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p>
                Tijdens mijn stageperiode heb ik bij verschillende onderdelen van het bedrijf meegelopen. Op deze manier leerde ik de bedrijfsstandaarden beter kennen en heb ik tijd en ruimte gehad om mijn leerdoelen te halen.
                <br /><br />
                <b>Operationel services (OS)</b> <br />
                De eerste maand van mijn stage was bedoeld als oriëntatie maand. In deze maand leerde ik gaande weg de programma’s en standaarden binnen het bedrijf. Uiteindelijk werd dit verlengd tot een tweede maand omdat het team waarbij ik aan zou sluiten iets uitliep met de planning.
                <br /><br />
                Tijdens deze twee maanden bij OS heb ik leren werken met verschillende programma’s/platformen als Github, Docker, terminal. Mijn werkzaamheden bij OS verschilde van het verwerken van feedback van klanten, nabootsen van bugs, het verdiepen in nieuwe technieken en software en het maken van kleine media-uitingen.<br />
                Voorbeelden van het maken van een kleine media-uiting is de presentatie voor FC Twente supportergroep. Hiervoor moest een beheerbare presentatie worden gemaakt zodat ze bij de supportgroep gemakkelijk hun gasten konden toevoegen en beheren.<br />
                Voor deze presentatie is gebruik gemaakt van een Javascript presentatie framework en webhare als content management systeem. Samen met een collega bij OS heb ik deze presentatie in elkaar gezet, bij het bouwen gingen we ervan uit van een bestaande presentatie waar diegene die hem moest beheren vertrouwd mee was.<br />
                Om ervoor te zorgen dat wij de goede afmetingen hadden voor de presentatie mochten we bij de supportgroep langs komen. Hier kregen wij meer informatie over de wensen van de beheerder en op wat voor schermen de presentatie te zien zou zijn.
                <br /><br />
                Nog een voorbeeld van een kleine media-uiting was de support pagina
                (support.nerds.company) waar klanten op terecht  komen wanneer zij fouten of feedback willen melden op een snelle en gemakkelijke manier. Ook is het mogelijk om binnen deze site de geschiedenis met de klant te bekijken zodat iedereen kan zien wat er al gebeurd is en wat er nog gedaan moet worden. Voor deze site moest een nieuw ontwerp komen binnen de huisstijl van Nerds & Company en hierna moest het ontwerp worden gerealiseerd.
                <br /><br />
                Als eerste had ik het ontwerp gemaakt met als inspiratie de huidige website. Maar omdat ik mij wilde focussen op front-end werd dit ontwerp overgedragen aan een stagiair bij studio.<br />
                Uiteindelijk heb ik het ontwerp omgezet naar een functionele website die past bij de huisstijl van Nerds & Company.
              </p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p>
                Naast deze opdrachten heb ik mij verdiept in het schrijven van front-end talen als Html, Css en Javascript volgens de bedrijfs kwaliteitstandaarden. Tijdens de twee maanden heb ik dingen onderzocht en doorgenomen als SMACSS, BEM, linters, Ionic, AngularJS, Gulp en de front-end repository.
                <br /><br />
                De manier hoe ik dit onderzocht was door kleine projecten op te starten en de documentatie van de software door te nemen. Aan de hand hiervan probeerde ik functionaliteiten van de software uit en bekeek ik de mogelijkheden.
                <br /><br />
                De reden dat ik voor Ionic en AngularJS heb gekozen om te onderzoeken was omdat bekend werd gedurende de tweede maand dat ik waarschijnlijk een applicatie zou mogen maken met deze software als basis.
                <br /><br />
                Bij OS zit ook een collega die zich bezighoud met het beveiligen van website’s, doordat hij hier vaak mee bezig was en het er ook vaak over had merkte ik dat mijn interesse hiervoor begon te groeien. Door deze interesse ben ik er achter gekomen hoe ik bijvoorbeeld kan testen of wordpress websites veilig zijn en wat er kan worden gedaan aan onveilige websites. Denk hierbij aan het toevoegen van security-headers, SSL en het tegengaan van user enumeration.
                <br /><br />
                Na dat deze twee maanden voorbij waren had ik het gevoel dat ik zelf alweer een stuk meer geleerd heb over nieuwe technieken, het omgaan met klanten feedback, de beveiliging van websites en de kwaliteitstandaarden van het bedrijf.
                <br /><br />
                <b>Twente insite</b><br />
                Ongeveer een periode van twee weken nadat ik weg ging bij OS lag mijn focus op Twente Insite. Voor Twente Insite was het de bedoeling dat wij een app maakte voor de fans van FC Twente waarbij ze het laatste nieuws konden volgen, de stand van de eredivisie konden zien en de aanvrager van de app wilde graag dat er reclame op kon worden geplaatst.<br />
                Om voorbereidingen te treffen begon ik vast aan het onderzoeken naar Ionic, dit is een Html5 framework die zou worden gebruikt bij het creëeren van de app. <br />
                De data moest worden binnen gehaald van een bestaande wordpress website.<br />
                Om hierop in te spelen heb ik een test wordpress omgeving opgezet met daarop een rest API om zo te testen hoe dit kon worden mogelijk gemaakt. Dit werkte en er was connectie met de API, voor zover had ik de kennis opgedaan hoe dit kon worden mogelijk gemaakt.
                <br /><br />
                Helaas trok de aanvrager van de app net voordat de handtekening zou moeten worden geplaatst zich terug vanwege de verschillende redenen.
              </p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p>
                <h2>Fields of joy</h2> <br />
                De laatste 2.5 maand heb ik gewerkt aan de Fields of Joy applicatie, dit was een opdracht vanuit Fields of Joy Festival. De bedoeling van de app is dat het een verbetering ten opzichte van de app van vorig jaar en hiernaast gemakkelijker en leuker is om te gebruiken.<br />
                De app is gebouwd in het Ionic framework waar ik al eerder onderzoek naar had gedaan dus dat was mooi meegenomen. <br />
                <br />
                Het team waarmee we deze app hebben gebouwd zit als volgt in elkaar:<br />
                - Dick Pino: Back-end developer, verantwoordelijk voor de Api en Product Owner.<br />
                - Rutger Bakker: Ontwerper.<br />
                - Tim Ruiterkamp: Front-end developer en scrum master.<br />
                <br />
                Alle drie zijn wij stagiaires met elk onze eigen begeleider. <br />
                Tijdens het proces hebben de begeleiders ons geholpen waarnodig.<br />
                <br />
                De eerste stappen bij het bouwen van de app begon met het inventariseren van de wensen van de klant en het analyseren van eerder gegeven feedback. Enkele punten waren dat de timetable ontzettend langzaam was, de app niet binnen de huisstijl pastte en hij niet erg onderscheidend was. <br />
                Hierop hebben wij ingespeeld door de ontwerpen te baseren op de huidige huisstijl en veel elementen terug te laten komen in de app. Zo is het een geheel geworden en zal het ook eerder worden herkend. <br />
                Nadat wij klaar waren met de inventarisatie hebben wij een gesprek gehad met Yellow Agency die de organisatie op het gebied van de website, app en social media doet. In dit gesprek werden nog even alle wensen gecommuniceerd zodat dit duidelijk was en zwart op wit stond. <br />
                <br />
                Nu alle informatie was verzameld was het tijd om het project op te zetten. Tijdens het project hebben wij gewerkt volgens de bedrijfs kwaliteitstandaarden, wat inhoudt dat wij de linters gebruiken met de instellingen die binnen het bedrijf worden gebruikt. De eerste stap die wij hebben gemaakt is het opzetten van de github repository met daarin de ionic installatie zodat iedereen aan de slag kan en er gebruik kan worden gemaakt van versiebeheer.
                <br /><br />
                Dick Pino is begonnen met het opstellen van User stories terwijl Rutger Bakker begon met het ontwerpen van de app. Toen de user stories af waren op basis van de eisen hebben wij ( Dick en ik) samen met de begeleiders een sprintplanning gemaakt. Dit was de eerste keer voor ons dat wij dit deden dus het inschatten was nog aardig moeilijk. Uiteindelijk toen we alles hadden gesorteerd op prioriteit en hadden ingeschat was het tijd om te beginnen met de eerste onderdelen van de app.
                <br /><br />
                Tijdens het project is gebruik gemaakt van scrum waardoor er grip was op het project en zo ook de begeleiders meekregen hoe het er voor stond met de app. Elke ochtend was er een stand-up waar de werkzaamheden van de dag ervoor en de dag zelf werden besproken.
              </p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p>
                <div class="seperator"></div>
                Terwijl wij bezig waren met de app werd in de eerste paar weken al snel duidelijk dat er een eigen API moest worden gebouwd, dit kwam doordat er van meerdere kanalen informatie af moest worden gehaald. Uiteindelijk heeft een back-end developer ons geholpen om een API met Ruby on Rails op te zetten. Deze API is vervolgens gekoppeld aan de wordpress website en hier haalt de applicatie momenteel nog steeds de data vandaan.
                <br /><br />
                De reden dat wij hebben gekozen voor een API is zodat alle externe informatie binnenkomt via een kanaal, in plaats van via vele verschillende kanalen als de wordpress website, facebook en google. De API heeft het ook mogelijk gemaakt dat de app zelf cached en zo de performance van de app verbeterd.
                <br /><br />
                Tijdens het werken aan het project zijn wij veel nieuwe dingen tegen gekomen waar wij nog geen verstand van hadden. Hiervoor is veel onderzoek gedaan en zijn er uiteindelijk positieve resultaten uitgehaald. In het begin hebben Dick en ik samen veel onderzoek gedaan naar verschillende benodigdheden voor de app. Uiteindelijk werd beslist dat ik met de styling bezig moest gaan van de app, zo kwam er wat meer gevoel bij app en begon het steeds meer op een app te lijken.
                <br /><br />
                Uiteindelijk kwamen we steeds dichterbij de deadline van 16 mei en moesten er knopen worden doorgehakt. Dit ging vooral over dat de ontwerpen moesten worden gerealiseerd en er keuzes moesten worden gemaakt over hoe bijvoorbeeld de kaart werd opgebouwd. <br />
                Samen met de begeleiders hebben we hierover overlegd en zijn toen tot de conclusie gekomen dat Rutger samen met mij de styling zou doen.
                <br /><br />
                Uiteindelijk bleek dat de deadline niet helemaal realistisch was en is deze na overleg verschoven naar begin juni.
                <br /><br />
                Tijdens dit project heb ik mij voornamelijk bezig gehouden met het opzetten van het project op github, uitzoeken hoe er kan worden getest op iOS en android, onderzoeken van mogelijk bruikbare technieken, het toepassen van bruikbare technieken, de styling van de pagina’s en het in de gaten houden van het proces.
                <br /><br />
                Het was een uitdagend project en ik kan zeggen dat ik er veel kennis uit heb gehaald en tevreden ben over het eindresultaat. Ik heb door al deze werkzaamheden meegemaakt wat er voor nodig is om een app als dit op te zetten, nieuwe technieken geleerd als Ionic en AngularJS, het werken met scrum en mijn kennis over project opbouw en structuur uitgebreid.
              </p>
            </div>
          </div>
        </div>
      </section>



      <include src="footer.html"></include>
  </body>
</html>
