.orientatie {
  img {
    width: 100%;
  }
  p {
    white-space: pre-line;
  }
}

.bpv {
  position: relative;
  height: 400px;
  padding-top: 60px;

  &__bg {
    background-position: center !important;

    &:before {
      background-color: pal-color(transparent, blue);
    }
  }

  &__text {
    width: 100%;
    margin-top: 150px;
    text-align: center;

    h2 {
      color: pal-color(white);
    }
  }
}
