.learn {
  position: relative;
  min-height: 400px;
  padding-top: 60px;

  &__bg {
    background-position: center;
  }
  
  &__text {
    width: 100%;
    line-height: 400px;

    h2 {
      color: pal-color(white);
    }
  }
}

.task {
  min-height: 600px;
}
