.section {
  min-height: 600px;
  padding: 50px 0;

  &__blue {
    background-color: pal-color(blue);
    color: pal-color(white);

   h2 {
     color: pal-color(white);
   }
  }
}

.seperator {
  width: 100%;
  margin: 46px 0 62px;
  border: 3px solid pal-color(blue);
}
