.button {

  &__nav {
    border: 0;
    background-color: transparent;

    &:focus {
      outline: transparent;
    }
  }

}
.arrow {
  background-color: #FF8022;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  position: relative;

  &__down {
    height: 8px;
  	width: 8px;
  	transform: rotate(45deg);
  	z-index: 9;
  	border-top: transparent;
  	border-right: 2px solid #fff;
  	border-bottom: 2px solid #fff;
  	border-left: transparent;
  	top: 6px;
  	left: 5px;
  }
}
